# Локальные файлы PyCharm
.idea/

# Виртуальное окружение
.venv/
venv/

# Файлы с секретами
.env

# Временные файлы, создаваемые скриптом
audio/
transcripts/
analyses/

# Дополнительные файлы
__pycache__/
*.pyc